# Public
NEXT_PUBLIC_API_URL=

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Database
DATABASE_URL=
# OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Payment
POLAR_ACCESS_TOKEN=

# Analytics
NEXT_PUBLIC_GA_ID=